---
layout: index
description:
---

<main class="main">


    <div class="vertical js-vertical">

      <div class="vertical__wrapper">


              <div class="vertical__slide">

<section class="slide-section slide-section--column slide-section--center slide-section--animation"
  style="background-color: #f6f6f7">
      <h1 class="show-for-sr">{{site.site_name}}</h1>

  <div class="slide-section__wrapper slide-section__wrapper--animation">

    <svg class="slide-section__logo fadeInInit transparent">
      <use xlink:href="#logo-with-color"></use>
    </svg>

    <div class="divider fadeInInit transparent"><span></span></div>

          <div class="slide-section__text fadeInInit transparent">
        <p>{{site.description}}</p>
      </div>

  </div>

  <svg class="cl-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 647.44 578.23">
  <g>
    <line class="cl-svg__link" stroke="#dedede" x1="23.55" y1="145.91" x2="69.32" y2="158.01"></line><line class="cl-svg__link" stroke="#edecec" x1="90.58" y1="90.12" x2="71.3" y2="159.78"></line><line class="cl-svg__link" stroke="#edecec" x1="177.4" y1="72.56" x2="90.6" y2="88.79"></line>
    <line class="cl-svg__link" stroke="#cdcdcd" x1="286.2" y1="72.97" x2="315.64" y2="20.32"></line>
    <line class="cl-svg__link" stroke="#e6e6e6" x1="260.36" y1="82.91" x2="184.88" y2="71.93"></line>
    <line class="cl-svg__link" stroke="#dedede" x1="291.97" y1="95.5" x2="312.96" y2="114.08"></line>
    <line class="cl-svg__link" stroke="#e6e6e6" x1="475.95" y1="267.17" x2="499.22" y2="181.97"></line>
    <line class="cl-svg__link" stroke="#e7e7e7" x1="182.53" y1="71.11" x2="219.66" y2="16.28"></line>
    <line class="cl-svg__link" stroke="#cdcdcd" x1="182.49" y1="78.62" x2="195.34" y2="129.02"></line>
    <line class="cl-svg__link" stroke="#ededed" x1="315.45" y1="115.27" x2="287.47" y2="173.06"></line>
    <line class="cl-svg__link" stroke="#e6e6e6" x1="318.74" y1="117.11" x2="385.36" y2="117.67"></line>
    <line class="cl-svg__link" stroke="#cdcdcd" x1="441.08" y1="375.33" x2="384.3" y2="355.09"></line>
    <line class="cl-svg__link" stroke="#e6e6e6" x1="389.45" y1="284.15" x2="476.25" y2="267.92"></line>
    <line class="cl-svg__link" stroke="#edecec" x1="539.11" y1="570.6" x2="472.49" y2="570.04"></line>
    <line class="cl-svg__link" stroke="#edecec" x1="610.33" y1="399.55" x2="550.74" y2="375.8"></line>
    <line class="cl-svg__link" stroke="#dedede" x1="386.26" y1="284.87" x2="381.7" y2="345.03"></line>
    <line class="cl-svg__link" stroke="#dedede" x1="306.49" y1="273.79" x2="381.97" y2="284.79"></line>
    <line class="cl-svg__link" stroke="#e6e6e6" x1="447.44" y1="485.56" x2="469.89" y2="570.98"></line>
    <line class="cl-svg__link" stroke="#edecec" x1="462" y1="369.62" x2="479" y2="347.33"></line>
    <line class="cl-svg__link" stroke="#e6e6e6" x1="274.88" y1="261.21" x2="253.89" y2="242.63"></line>
    <line class="cl-svg__link" stroke="#dedede" x1="251.4" y1="241.44" x2="279.38" y2="183.65"></line>
    <line class="cl-svg__link" stroke="#dedede" x1="480" y1="344.76" x2="539.59" y2="368.5"></line>
    <line class="cl-svg__link" stroke="#eeeded" x1="248.11" y1="239.6" x2="181.49" y2="239.04"></line>
    <line class="cl-svg__link" stroke="#e6e6e6" x1="451.76" y1="402.06" x2="446.26" y2="478.14"></line>
    <line class="cl-svg__link" stroke="#e6e6e6" x1="445.63" y1="482.55" x2="388.32" y2="449.47"></line>
    <line class="cl-svg__link" stroke="#dedede" x1="453.25" y1="482.04" x2="502.53" y2="465.59"></line>
    <line class="cl-svg__link" stroke="#edecec" x1="628.33" y1="374.69" x2="611.33" y2="396.97"></line>
    <line class="cl-svg__link" stroke="#edecec" x1="609.3" y1="403" x2="613.5" y2="465.5"></line>
    <line class="cl-svg__link" stroke="#edecec" x1="59.21" y1="32.72" x2="92.03" y2="90.69"></line>
  </g>
  <g>
    <circle class="cl-svg__node" fill="#dedede" cx="390.84" cy="117.5" r="14.06" style="transform-origin: 390.84px 117.5px"></circle>
    <circle class="cl-svg__node" fill="#e6e6e6" cx="318.5" cy="13.28" r="11.25" style="transform-origin: 318.5px 13.28px"></circle>
    <circle class="cl-svg__node" fill="#dedede" cx="180.31" cy="72.76" r="10.38" style="transform-origin: 180.31px 72.76px"></circle>
    <circle class="cl-svg__node" fill="#edecec" cx="543.81" cy="570.47" r="7.25" style="transform-origin: 543.81px 570.47px"></circle>
    <circle class="cl-svg__node" fill="#cdcdcd" cx="194.05" cy="129.39" r="14.05" style="transform-origin: 194.05px 129.39px"></circle>
    <circle class="cl-svg__node" fill="#7a6aa8" cx="14.05" cy="141.39" r="14.05" style="transform-origin: 14.05px 141.39px"></circle>
    <circle class="cl-svg__node" fill="#e6e6e6" cx="469.44" cy="569.73" r="8.5" style="transform-origin: 469.44px 569.73px"></circle>
    <circle class="cl-svg__node" fill="#dedede" cx="386.52" cy="283.95" r="10.36" style="transform-origin: 386.52px 283.95px"></circle>
    <circle class="cl-svg__node" fill="#dedede" cx="502.98" cy="466.84" r="14.17" style="transform-origin: 502.98px 466.84px"></circle>
    <circle class="cl-svg__node" fill="#dedede" cx="546.08" cy="374.67" r="8.52" style="transform-origin: 546.08px 374.67px"></circle>
    <circle class="cl-svg__node" fill="#3b97c8" cx="447.42" cy="482.64" r="10.48" style="transform-origin: 447.42px 482.64px"></circle>
    <circle class="cl-svg__node" fill="#dedede" cx="280.84" cy="179.09" r="8.44" style="transform-origin: 280.84px 179.09px"></circle>
    <circle class="cl-svg__node" fill="#edecec" cx="613.55" cy="474.94" r="14.2" style="transform-origin: 613.55px 474.94px"></circle>
    <circle class="cl-svg__node" fill="#edecec" cx="252.81" cy="239.47" r="7.25" style="transform-origin: 252.81px 239.47px"></circle>
    <circle class="cl-svg__node" fill="#edecec" cx="71.52" cy="159.25" r="8.52" style="transform-origin: 71.52px 159.25px"></circle>

    <path style="transform-origin: 223px 11.5px" class="cl-svg__node" fill="#e6e6e6" d="M216.19,2.29A11.39,11.39,0,0,0,214,18.18a11.25,11.25,0,0,0,15.79,2.34A11.39,11.39,0,0,0,232,4.63a11.25,11.25,0,0,0-15.79-2.34Z"></path>
    <path style="transform-origin: 92.5px 88.5px" class="cl-svg__node" fill="#edecec" d="M87.35,81.65a8.54,8.54,0,0,0-1.67,11.92,8.44,8.44,0,0,0,11.84,1.75A8.54,8.54,0,0,0,99.19,83.4a8.44,8.44,0,0,0-11.84-1.75Z"></path>
    <path style="transform-origin: 279px 86.5px" class="cl-svg__node" fill="#252525" d="M267.77,71.43A19,19,0,0,0,264,97.83a18.5,18.5,0,0,0,26.09,3.81,19,19,0,0,0,3.75-26.41,18.5,18.5,0,0,0-26.09-3.81Z"></path>
    <path style="transform-origin: 382.5px 352.5px" class="cl-svg__node" fill="#dedede" d="M392.6,358.09a11.43,11.43,0,0,0-4.66-15.37,11.18,11.18,0,0,0-15.26,4.53,11.43,11.43,0,0,0,4.66,15.37,11.18,11.18,0,0,0,15.26-4.53Z"></path>
    <path style="transform-origin: 609px 398.5px" class="cl-svg__node" fill="#edecec" d="M614.36,393.57a7.37,7.37,0,0,0-10.34-.72,7.21,7.21,0,0,0-.74,10.24,7.37,7.37,0,0,0,10.34.71,7.21,7.21,0,0,0,.74-10.24Z"></path>
    <path style="transform-origin: 475.5px 268.33px" class="cl-svg__node" fill="#e6e6e6" d="M480.63,275.16a8.54,8.54,0,0,0,1.67-11.92,8.43,8.43,0,0,0-11.84-1.75,8.54,8.54,0,0,0-1.67,11.92,8.43,8.43,0,0,0,11.84,1.75Z"></path>
    <path style="transform-origin: 314.62px 117.31px" class="cl-svg__node" fill="#e6e6e6" d="M310.25,111.42a7.39,7.39,0,0,0-1.46,10.27A7.21,7.21,0,0,0,319,123.17a7.39,7.39,0,0,0,1.46-10.27,7.21,7.21,0,0,0-10.16-1.48Z"></path>
    <path style="transform-origin: 289px 270.3px" class="cl-svg__node" fill="#ec9533" d="M300.21,285.38A19,19,0,0,0,304,259a18.5,18.5,0,0,0-26.09-3.81,19,19,0,0,0-3.75,26.41,18.5,18.5,0,0,0,26.09,3.81Z"></path>
    <path style="transform-origin: 482.64px 346px" class="cl-svg__node" fill="#7a6aa8" d="M477.1,350.84a7.37,7.37,0,0,0,10.34.71,7.22,7.22,0,0,0,.74-10.24,7.37,7.37,0,0,0-10.34-.71,7.21,7.21,0,0,0-.74,10.24Z"></path>
    <path style="transform-origin: 454.5px 384px" class="cl-svg__node" fill="#cdcdcd" d="M466.9,397.94a18.51,18.51,0,0,0,1.91-26.3,19,19,0,0,0-26.58-1.83,18.52,18.52,0,0,0-1.91,26.3A19,19,0,0,0,466.9,397.94Z"></path>
    <path style="transform-origin: 636px 367.5px" class="cl-svg__node" fill="#edecec" d="M645.08,359.94a12.37,12.37,0,0,0-16.94-1.13,11.19,11.19,0,0,0-1.22,16.24,12.37,12.37,0,0,0,16.94,1.13,11.19,11.19,0,0,0,1.22-16.24Z"></path>

  </g>
</svg>

  <button class="arrow-down arrow-down--with-text show-for-large fadeInInit transparent js-slide-next">
    <svg class="arrow-down__icon">
      <use xlink:href="#scroll-arrow"></use>
    </svg>
    <span class="arrow-down__text">Scroll</span>
  </button>

</section>
              </div>

              <div class="vertical__slide">

<section class="slide-cards slide-section slide-section--cards"
         style="background-image: url('{{ site.url }}/assets/img/{{site.index.news_img}}'); background-color: #ec9533;">

  <div class="heading">

          <h2 class="js-animate-fadeInOnSlide transparent">最新动态</h2>

    <div class="divider divider--dark divider--small divider--right divider--long divider--card js-animate-fadeInOnSlide transparent"><span></span></div>

                <a class="btn  js-animate-fadeInOnSlide transparent"
              href="publications/index.html"
                            title="View all">
            <span>查看全部</span>
          </a>


  </div>

  <div class="js-cards-slider cards-slider__container js-animate-fadeInLeftXLargeDown">

    <div class="cards-slider__wrapper">
      <ul id="slides">
        {% for post in site.posts limit:10 %}{% if post.classification == 'news' and post.img  %}
	<li class="slide" ><div style="background: url('{{site.url}}/assets/img/{{post.img}}'); width:100%; height:28rem;-moz-background-size: 100% 28rem;
  -webkit-background-size: 100% 28rem;
  -o-background-size: 100% 28rem;
  background-size: 100% 28rem;"></div>
    <div class="cards-slider__view-doc" style="height: 4.5rem;">
                  <a class="publication__doc-link"
         href="{{ post.url }}"
         target="_blank"
         title="View Full PDF">
        <svg class="" width="16px" height="20px">
          <use xlink:href="#icon-doc"></use>
        </svg>
        <span>{{ post.title }}</span>
      </a>
              </div></li>
	{% endif %}{% endfor %}
</ul>
<style type="text/css">
/*
essential styles:
these make the slideshow work
*/
#slides{
	position: relative;
	height: 33rem;
  width:55rem;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
  vertical-align：middle;



	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}



/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
	font-size: 40px;
	padding: 0px;
	box-sizing: border-box;
	background: rgba(255,255,255,0);
	color: #fff;
}
</style>
<script type="text/javascript">
var slides = document.querySelectorAll('#slides .slide');
var currentSlide = 0;
var slideInterval = setInterval(nextSlide,2000);

function nextSlide(){
	slides[currentSlide].className = 'slide';
	currentSlide = (currentSlide+1)%slides.length;
	slides[currentSlide].className = 'slide showing';
}
</script>
<!--
      <div class="cards-slider__slide js-animate-fadeInLeft">



          <div class="cards-slider__description">

            <a href="{{site.recent_publications.publication1.link}}">{{site.recent_publications.publication1.journal}}</a>
            <p>{{site.recent_publications.publication1.article}}</p>


          <div class="js-cards-subslider--left cards-subslider__container">

            <div class="cards-subslider__wrapper">
            {% for news in site.recent_news.new1.new %}

                    <div class="cards-subslider__slide">
                    <h4>  <a href="{{site.recent_publications.publication1.link}}">{{site.recent_news.new1.title}}</a></h4>
                      <p>{{site.recent_news.new1.abstract}}</p>
<div  style="box-shadow: inset 0 .188rem .438rem 0 rgba(0, 0, 0, .35);
width: 16em;
height: 12em;
display: inline-block;
background-repeat: no-repeat;
background-size: 100% auto;
background-position: 50% 50%;
margin-bottom: 1.3rem;background-image: url('{{news.img}}')"></div>
                      <h3>{{news.name}}</h3>

                    </div>
            {% endfor %}




            </div>

            <div class="button-prev--l"></div>
            <div class="button-next--l"></div>

          </div>
        </div>

          <div class="cards-slider__view-doc">
                          <a class="publication__doc-link"
                 href="{{site.recent_publications.publication1.link}}"
                 target="_blank"
                 title="View Full PDF">
                <svg class="" width="16px" height="20px">
                  <use xlink:href="#icon-doc"></use>
                </svg>
                <span>View Full</span>
              </a>
                      </div>

            </div>

            <div class="cards-slider__slide js-animate-fadeInLeft">



                <div class="cards-slider__description">

                  <a href="{{site.recent_publications.publication1.link}}">{{site.recent_publications.publication1.journal}}</a>
                  <p>{{site.recent_publications.publication1.article}}</p>

                </div>




    </div>-->

    <div class="cards-slider__pagination"></div>
  </div>

</section>
              </div>

              <div class="vertical__slide">

<section class="slide-section slide-section--column slide-section--center slide-section--image"
         style="background-image: url('{{site.url}}/assets/img/{{site.index.research_img}}');">

  <div class="slide-section__wrapper slide-section__wrapper--image">

          <h2 class="slide-section__heading js-animate-fadeInOnSlide transparent">
        研究内容      </h2>

    <div class="divider js-animate-fadeInOnSlide transparent"><span></span></div>

          <div class="slide-section__text js-animate-fadeInOnSlide transparent">
        <p>课题组主要从事环境规划与管理研究，致力于人类活动的资源和环境效应评估，重点开展多尺度营养物质和重金属循环过程模拟，阐释其时空格局演变规律和驱动机制，并定量评估其资源和环境效应，为系统调控人类活动和推动区域可持续发展提供决策依据。</p>
      </div>


                <a class="btn  js-animate-fadeInOnSlide transparent"
              href="research/index.html"
                            title="Check it out">
            <span>详细内容</span>
          </a>


  </div>

</section>
              </div>


              <div class="vertical__slide">

<section class="slide-cards slide-section slide-section--cards"
         style="background-image: url('{{site.url}}/assets/img/{{site.index.recent_publications_img}}'); background-color: #ec9533;">

  <div class="heading">

          <h2 class="js-animate-fadeInOnSlide transparent">最近成果</h2>

    <div class="divider divider--dark divider--small divider--right divider--long divider--card js-animate-fadeInOnSlide transparent"><span></span></div>

                <a class="btn  js-animate-fadeInOnSlide transparent"
              href="publications/index.html"
                            title="View all">
            <span>查看全部</span>
          </a>


  </div>

  <div class="js-cards-slider cards-slider__container js-animate-fadeInLeftXLargeDown">

    <div class="cards-slider__wrapper">

      <div class="cards-slider__slide js-animate-fadeInLeft">



          <div class="cards-slider__description">

            <a href="{{site.recent_publications.publication1.link}}">{{site.recent_publications.publication1.journal}}</a>
            <p>{{site.recent_publications.publication1.article}}</p>

          </div>

          <div class="js-cards-subslider--left cards-subslider__container">

            <div class="cards-subslider__wrapper">
            {% for persons in site.recent_publications.publication1.person %}
                    <div class="cards-subslider__slide">

                      <div class="avatar" style="background-image: url('{{site.url}}/assets/img/{{persons.img}}')"></div>
                      <h3>{{persons.name}}</h3>

                    </div>
            {% endfor %}




            </div>

            <div class="button-prev--l"></div>
            <div class="button-next--l"></div>

          </div>

          <div class="cards-slider__view-doc">
                          <a class="publication__doc-link"
                 href="{{site.recent_publications.publication1.link}}"
                 target="_blank"
                 title="View Full PDF">
                <svg class="" width="16px" height="20px">
                  <use xlink:href="#icon-doc"></use>
                </svg>
                <span>View Full</span>
              </a>
                      </div>

            </div>

      <div class="cards-slider__slide js-animate-fadeInLeftTwice">


          <div class="cards-slider__description">

            <a href="{{site.recent_publications.publication2.link}}">
            {{site.recent_publications.publication2.journal}}</a>
            <p>{{site.recent_publications.publication2.article}}</p>
          </div>

          <div class="js-cards-subslider--right cards-subslider__container">

            <div class="cards-subslider__wrapper">
{% for member in site.recent_publications.publication2.person %}

                  <div class="cards-subslider__slide">

                    <div class="avatar" style="background-image: url('{{site.url}}/assets/img/{{member.img}}')"></div>
                    <h3>{{member.name}}</h3>

                  </div>
{% endfor %}






            </div>

            <div class="button-prev--r"></div>
            <div class="button-next--r"></div>

          </div>

          <div class="cards-slider__view-doc">
                          <a class="publication__doc-link"
                 href="{{site.recent_publications.publication2.link}}"
                 target="_blank"
                 title="View Full PDF">
                <svg class="" width="16px" height="20px">
                  <use xlink:href="#icon-doc"></use>
                </svg>
                <span>View Full</span>
              </a>
                      </div>


      </div>

    </div>

    <div class="cards-slider__pagination"></div>
  </div>

</section>
              </div>


              <div class="vertical__slide">

<section class="background-video slide-section slide-section--column slide-section--center slide-section--video">

  <div class="slide-section__wrapper slide-section__wrapper--video">

          <h2 class="slide-section__heading transparent js-animate-fadeInOnSlide slide-section__heading--video">
        虚拟仿真实验室      </h2>

    <div class="divider divider--white js-animate-fadeInOnSlide transparent"><span></span></div>

          <div class="js-animate-fadeInOnSlide transparent slide-section__text slide-section__text--video">
        <p>主要包括“社会经济环境国家级虚拟仿真实验教学中心”和“污染控制与资源化研究国家重点实验室”。</p>
      </div>


                <a class="btn  btn--white js-animate-fadeInOnSlide transparent"
              href="photoredox/index.html"
                            title="Learn More">
            <span>更多</span>
          </a>


  </div>

  <div class="video-container"
       style="background-image: url('{{site.url}}/assets/img/{{site.index.photorederx_gif}}');">

    <video autoplay=""
           loop=""
           preload=""
           poster="{{site.url}}/assets/img/{{site.index.photorederx_img}}"
           title="poster">

              <source src="" type="video/webm">

              <source src="" type="video/ogv">

              <source src="" type="video/mp4">

    </video>

  </div>

</section>
              </div>


              <div class="vertical__slide">
                <section class="slide-section slide-section--center slide-section--collage"
         style="background-color: #f6f6f7;">

  <div class="collage">

          <div class="collage__col collage__col--middle js-animate-fadeInOnSlide transparent">
        <img class="collage__image"
          src="{{site.url}}/assets/img/{{site.index.bio_img}}"
          alt="">
      </div>

          <div class="collage__col collage__col--left js-animate-fadeInOnSlide transparent">
        <h2 class="slide-section__heading">袁增伟教授</h2>
        <div class="divider divider--bio"><span></span></div>
      </div>

          <div class="collage__col collage__col--right js-animate-fadeInOnSlide transparent">
        <p>主要从事环境规划与管理研究，在产业生态学、清洁生产与循环经济等领域取得一定创新成果。主持国家自然科学基金5项、国家社会科学基金1项、国家环保公益性行业科研专项1项，国家863子课题和国家科技支撑计划子课题等其它课题30余项。发表学术期刊论文101篇，其中在PNAS, ES&T, SCI TOTAL ENVIRON等SCI期刊上发表52篇，出版专著/教材4部。
</p>

                <a class="btn  btn--small"
              href="zwyuan/index.html"
                            title="Read More">
            <span>更多</span>
          </a>

        </div>

  </div>

  <button class="arrow-down show-for-large js-show-footer js-animate-fadeInOnSlide transparent">
    <svg class="arrow-down__icon">
      <use xlink:href="#scroll-arrow"></use>
    </svg>
  </button>

</section>
              </div>


      </div>

      <div class="vertical__pagination"></div>

    </div>


</main>
